@using ChefsnDishes.Models
@model Chef

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><a href="">Chefs</a>|<a href="">Dishes</a></h1>
    <h2>Check our roster of Chefs!</h2>
    <p>____________________________________________________________________________________________________________________________________________________</p>
    <table class="table col-sm-8 mx-auto">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col"># of Dishes</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Chef chef in  @ViewBag.allchefs)
            {
                <tr>
                    <td>@chef.First_Name</td>
                    <td>@chef.Age</td>
                    <td>@chef.Dishes.Count</td>
                </tr>
            }
            <tr>
        <th scope="row"></th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</body>
</html>